@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

body {
	margin: 0;
	padding: 0;
	font-family: "Kanit";
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		width: 30%;
		min-width: 300px;
	}

	h1 {
		margin: 0;
		font-family: "Jersey";
		font-size: 4rem;
		text-align: center;
	}

	p {
		width: 75%;
		font-size: 1.25rem;
		text-align: center;
	}
}

.selections {
	display: flex;
	justify-content: space-around;
	gap: 16rem;

	margin: 3rem 0;

	@include mobile {
		gap: 0;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;

		label {
			display: block;
			font-family: "Jersey";
			font-size: 2rem;
		}

		input {
			min-height: 1.5rem;
			font-family: "Kanit";
		}
	}
}

.card-display {
	display: flex;
	justify-content: space-around;
	margin-bottom: 3rem;

	@include mobile {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.card {
		display: flex;
		flex-direction: column;
		width: 21.375rem;
		height: 29.6875rem;
		background-size: cover;
		background-repeat: no-repeat;
		align-items: center;
		overflow: hidden;

		.image-wrapper {
			object-fit: cover;
			width: 91.5%;
			margin-top: 1rem;
			text-align: center;
			background-color: white;
			border-top-right-radius: 4px;
			border-top-left-radius: 4px;

			img {
				width: 80%;
				height: 100%;
				object-fit: cover;
			}
		}

		.pokemon-name {
			background-color: $poke-blue;
			font-weight: 400;
			color: white;
			width: 91.5%;
			text-align: center;
			margin: 0;
		}

		.pokemon-description {
			background-color: $poke-yellow;
			width: 91.5%;
			padding-bottom: 0.5rem;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;

			ul {
				padding-left: 1rem;
			}

			ul li {
				list-style: none;
			}
		}
	}

	.vs-logo {
		height: 3.75rem;
		width: 4rem;
		align-self: center;
	}

	.card--blank {
		background-image: url("../Assets/images/pokemon-card-back.jpg");
	}
}

.button-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;

	button {
		@include button-style;

		&:hover {
			background-color: $poke-dark-blue;
			cursor: pointer;
		}
	}
}

.arena {
	margin-bottom: 5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;

	.arena-box {
		display: flex;
		gap: 3rem;
		justify-content: center;
		width: 80%;

		@include mobile {
			width: 100%;
			gap: 0.5rem;
		}

		.battle-box {
			width: 100%;
			border: 5px solid $poke-dark-blue;
			border-radius: 10px;
			height: auto;
			min-height: 10rem;

			p {
				padding-left: 1rem;
				font-size: 1.5rem;
			}
		}
	}

	.battle-result {
		border: 5px solid $poke-blue;
		border-radius: 10px;
		background-color: $poke-dark-blue;
		color: white;
		font-family: "Jersey";
		font-size: 2.5rem;
		text-align: center;
		width: 50%;
		height: auto;
		min-height: 8rem;
	}
}

.button-wrapper--reset {
	margin: 0;

	.reset-button {
		@include button-style;
		background-color: $poke-yellow;
		display: inline-block;
		width: 40%;

		&:hover {
			background-color: $poke-yellow-dark;
			cursor: pointer;
		}
	}
}

.overlay-image {
	background-image: url("../Assets/images/grass.jpg");
	width: 100%;
	height: 16rem;
	opacity: 50%;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	.creator-names {
		font-family: "Jersey";
		margin: 0;
		font-size: 1.5rem;
	}
}

.horizontal-shake {
	animation: shake1 0.35s 1s;
}

.horizontal-shake2 {
	animation: shake2 0.35s 1s;
}

@keyframes shake1 {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes shake2 {
	0%,
	100% {
		transform: translateX(0);
	}
	25%,
	75% {
		transform: translateX(-15px);
	}
	50% {
		transform: translateX(15px);
	}
}
