@font-face {
  font-family: "Jersey";
  src: url("../../Assets/fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../../Assets/fonts/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../../Assets/fonts/Kanit-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../../Assets/fonts/Kanit-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../../Assets/fonts/Kanit-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../../Assets/fonts/Kanit-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Kanit";
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 30%;
}
header h1 {
  margin: 0;
  font-family: "Jersey";
}
header p {
  width: 75%;
}

.selections {
  display: flex;
  justify-content: space-around;
  gap: 16rem;
  margin: 3rem 0;
}
@media (max-width: 768px) {
  .selections {
    gap: 0;
  }
}
.selections form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selections form label {
  display: block;
  font-family: "Jersey";
  font-size: 2rem;
}
.selections form input {
  min-height: 1.5rem;
  font-family: "Kanit";
}

.card-display {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .card-display {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
.card-display .card {
  display: flex;
  flex-direction: column;
  width: 21.375rem;
  height: 29.6875rem;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  overflow: hidden;
}
.card-display .card .image-wrapper {
  -o-object-fit: cover;
     object-fit: cover;
  width: 91.5%;
  margin-top: 1rem;
  text-align: center;
  background-color: white;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.card-display .card .image-wrapper img {
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-display .card .pokemon-name {
  background-color: #3c5aa6;
  font-weight: 400;
  color: white;
  width: 91.5%;
  text-align: center;
  margin: 0;
}
.card-display .card .pokemon-description {
  background-color: #ffcb05;
  width: 91.5%;
  padding-bottom: 0.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.card-display .card .pokemon-description ul li {
  list-style: none;
}
.card-display .vs-logo {
  height: 3.75rem;
  width: 4rem;
  align-self: center;
}
.card-display .card--blank {
  background-image: url("../Assets/images/pokemon-card-back.jpg");
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.button-wrapper button {
  font-family: "Jersey";
  font-size: 2rem;
  background-color: #3c5aa6;
  border: 5px solid #192653;
  border-radius: 10px;
  color: white;
  padding: 1rem 1rem;
}
.button-wrapper button:hover {
  background-color: #192653;
  cursor: pointer;
}

.arena {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.arena .arena-box {
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: 80%;
  min-height: 3rem;
}
@media (max-width: 768px) {
  .arena .arena-box {
    width: 100%;
    gap: 0.5rem;
  }
}
.arena .arena-box .battle-box {
  width: 100%;
  border: 5px solid #192653;
  border-radius: 10px;
}
.arena .arena-box .battle-box p {
  padding-left: 1rem;
}
.arena .battle-result {
  border: 5px solid #3c5aa6;
  border-radius: 10px;
  background-color: #192653;
  color: white;
  font-family: "Jersey";
  font-size: 2.5rem;
  text-align: center;
  width: 50%;
}

.button-wrapper--reset {
  margin: 0;
}
.button-wrapper--reset .reset-button {
  font-family: "Jersey";
  font-size: 2rem;
  background-color: #3c5aa6;
  border: 5px solid #192653;
  border-radius: 10px;
  color: white;
  padding: 1rem 1rem;
  background-color: #ffcb05;
  display: inline-block;
  width: 40%;
}
.button-wrapper--reset .reset-button:hover {
  background-color: #c7a008;
  cursor: pointer;
}

.overlay-image {
  background-image: url("../Assets/images/grass.jpg");
  width: 100%;
  height: 16rem;
  opacity: 50%;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.overlay-image .creator-names {
  font-family: "Jersey";
  margin: 0;
  font-size: 1.5rem;
}/*# sourceMappingURL=styles.css.map */